@-webkit-keyframes loading {
    0%,100% {
        color: #dcdcdc;
    }

    50% {
        color: #777;
    }
}

@-moz-keyframes loading {
    0%,100% {
        color: #dcdcdc;
    }

    50% {
        color: #777;
    }
}

@keyframes loading {
    0%,100% {
        color: #dcdcdc;
    }

    50% {
        color: #777;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f9f9f9;
    color: #333;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.35em;
    margin: 0;
    padding: 1em 2em 1em 2em;
}

h1,h2 {
    font-size: 1.7em;
    font-weight: normal;
}

h1 {
    line-height: 1em;
    margin-bottom: 1.3em;
}

h2 {
    margin-top: 2em;
}

h3 {
    color: #777;
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
}

p {
    cursor: default;
}

a {
    color: #1f8dba;
}

a:hover,a:focus {
    color: #45b3e0;
}

hr {
    height: 1px;
    background: #dcdcdc;
    border: none;
}

li {
    margin-bottom: 0.1em;
}

button {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    background: #f9f9f9;
    border: 0.3em solid #dcdcdc;
    border-radius: 50%;
    color: #777;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    height: 6.5em;
    margin: 0.1em 0.2em;
    outline: none;
    vertical-align: top;
    width: 6.5em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:nth-child(3n) {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.active {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    background: #e7f3ff;
    border-color: skyblue;
}

button.inactive {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    background: #f9f9f9;
    border-color: #dcdcdc;
}

button:hover {
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    border-color: skyblue;
}

form {
    display: none;
}

.loading {
    -webkit-animation: loading 1.5s linear infinite;
    -moz-animation: loading 1.5s linear infinite;
    animation: loading 1.5s linear infinite;
}

.content {
    margin: 0 auto;
    max-width: 35em;
}

.content-wide {
    margin: 0 auto;
    max-width: 50em;
}

.playground {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background: white;
    margin: 2.1em -2em 0 -2em;
    overflow: hidden;
    padding: 0 2em 2em 2em;
}

.widget {
    float: left;
    padding: 0 0 1.6em 0;
    position: relative;
    text-align: center;
    width: 33%;
}

.widget:first-child,.widget:last-child {
    border-right: none;
}

.widget-items {
    text-align: center;
    width: 100%;
}

.widget-items div {
    display: inline-block !important;
    height: 6.5em;
    margin: 0.1em 0.2em;
    vertical-align: top;
    width: 6.5em;
}

.float-none {
    float: none !important;
}

.widget-vis {
    margin: 1.7em 0 0 0;
    padding: 0;
    position: relative;
}

.widget-vis p {
    color: #777;
    margin: 0;
    padding: 0 1em;
    position: absolute;
    text-align: center;
    top: 33%;
    width: 100%;
}

.playing {
    background: #e7f3ff;
}

#vis-div {
    height: 10em;
    width: 100%;
}

#master-volume {
    color: #777 !important;
    display: none;
    font-family: Helvetica, sans-serif !important;
    font-size: 1em !important;
    font-weight: normal !important;
    margin-top: 35px !important;
    opacity: 1;
    -webkit-text-fill-color: #777;
}

@media only screen and (max-width: 800px) {
    .widget-items,.playground {
        padding-left: 1em;
        padding-right: 1em;
    }

    .widget {
        padding-bottom: 0;
    }

    h2 {
        margin-top: 1.5em;
    }

    button,.widget-items div {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        padding-left: 1em;
        padding-right: 1em;
    }

    .playground {
        margin-left: -1em;
        margin-right: -1em;
    }

    .widget-items {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 430px) {
    button {
        font-size: 14px;
    }

    #master-volume {
        font-size: 14px !important;
        margin-left: -73px !important;
        margin-top: 28px !important;
    }

    .widget-items div,.widget-items canvas {
        height: 91px !important;
        width: 91px !important;
    }
}
