@import url(http://fonts.googleapis.com/css?family=Raleway:200);

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

body {
  background-color: #CDE3DE;
}

#markerdiv{
  position:absolute;
  width: 100%;
  margin-left: 49%;
  margin-right: 49%;
  left: 0;
  right:0;
}

#background-canvas{
    background-color: #CDE3DE;
    width:100%;
    height:100%;
    z-index:10;
}

header {
  background-color: #333;
  width: 100%;
  height: 65px;
}
input{
  font-family: 'Raleway';
  color: grey;
  border-radius: 10px;
  background-color: white;
  z-index: 1000;
}

#map-canvas {
  text-align: center;
  visibility: hidden;
}

.zoom_button{
  font-size: 25px;
  width: 30;
  height: 35px;
  outline:none;
  visibility: hidden;

}
.zoom_button:active{
  height: 30px;
  border-radius: 10px;
  box-shadow: #transparent 0px -6px 0px 0px;
}

#zoom_in{
  position: fixed;
  top:30px;
  left:30px;
}

#zoom_out{
  position: fixed;
  bottom:30px;
  left:30px;
}

.markerObject{
  z-index: 1000;
  position:fixed;
  box-shadow: #transparent 0px -6px 0px 0px;
  background-color: none;
  color:grey;
  font-size: 70px;
  font-weight: bold;
  bottom:50%;
  left:38%;
}
.buttonBlock{
  display:block;
  position: relative;
  margin-left: auto; 
  margin-right: auto;
  width: 310px;
}
.zoom_buttonBlock{
  display:block;
  position: absolute;
  margin-left: 20px; 
  width: 310px;

}

#music_choice_button {
  position: relative;
  font-size: 25px;
  bottom: 110px;
  width: 150px;
  height: 56px;
  outline:none;
  visibility: hidden;
}

#music_choice_button:active{
  height: 50px;
  border-radius: 10px;
  box-shadow: #transparent 0px -6px 0px 0px;


}
#button_playnow {
  position: relative;
  font-size: 25px;
  bottom: 110px;
  width: 150px;
  height: 56px;
  outline:none;
  visibility: hidden;
}

#button_playnow:active {
  height: 50px;
  box-shadow: #transparent 0px -6px 0px 0px;

}

nav#slide-menu {
  position: fixed;
  top: 0;
  right: -100px;
  bottom: 0;
  display: block;
  float: right;
  width: 100%;
  background-color: #B0C4BF;
  max-width: 284px;
  height: 100%;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  visibility: hidden;

}

div#about_text{
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  color:black;
}
div#presentation-text{
  color:grey;
  padding-left: 100px;
  padding-top: 80px;
  padding-right: 100px;
  text-align: center;

}



body.menu-active nav#slide-menu { right: 0px;}
body.menu-active nav#slide-menu ul { right: 0px; opacity: 1; }


div#content {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-box-shadow: -3px 0 6px darken(#556270, 5%);
  -webkit-box-shadow: -3px 0 6px darken(#556270, 5%);
  box-shadow: -3px 0 6px darken(#556270, 5%);

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

  .about_button {
    position: fixed;
    font-family: 'Raleway';
    font-size: 15px;
    color: grey;
    top: 10px;
    right: 10px;
    float:right;
    width: 65px;
    height: 33px;
    background: white;
    border-radius: 10px;
    z-index: 1000;
    outline:none;
    visibility: hidden;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;

  }
.about_button:active {
  position: fixed;
  top:10px;
  font-family: 'Raleway';
  font-size: 15px;
  cursor: pointer;
  width: 65px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  z-index: 10000;
  outline:none;
  visibility: hidden;

}
  #intro-button {
    display:block;
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    font-family: 'Raleway';
    font-size: 20px;
    color: grey;
    width: 100px;
    height: 50px;
    background: white;
    border-radius: 10px;
    z-index: 1000;
    outline:none;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;

  }
#intro-button:active {
  display:block;
  position: relative;
  margin-left: auto; 
  margin-right: auto;
  font-family: 'Raleway';
  font-size: 20px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  z-index: 10000;
  outline:none;

}


body.menu-active div#content { right: 284px; border-radius: 7px 0 0 7px; }
body.menu-active div#content .about_button { right: 294px; }
}

.buttonBlock{
  display:block;
  position: relative;
  margin-left: auto; 
  margin-right: auto;
  width: 410px;
}

.spinner {
    font-size: 80px;
    width: 1em;
    height: 1em;
    position: fixed;
    left:50%;
    bottom:50%;
    margin-left: -50px;
    border-radius: 50%;
    list-style: none;
    z-index:1000;
    }

.spinner li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
    z-index: 1000;
}

.spinner li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: rgba(255,255,102,1);
    z-index: 1000;
    -webkit-transform-origin: 50% 250%;
    -moz-transform-origin: 50% 250%;
    -ms-transform-origin: 50% 250%;
    -o-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
}

.spinner li:nth-child(2) {
    top: 50%; 
    right: 0;
    margin: -.1em 0 0 0;
    background: rgba(204,102,153,1);
    z-index: 1000;
    -webkit-transform-origin: -150% 50%;
    -moz-transform-origin: -150% 50%;
    -ms-transform-origin: -150% 50%;
    -o-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
    -webkit-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
}

.spinner li:nth-child(3) {
    left: 50%; 
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: rgba(51,102,102,1);
    z-index: 1000;
    -webkit-transform-origin: 50% -150%;
    -moz-transform-origin: 50% -150%;
    -ms-transform-origin: 50% -150%;
    -o-transform-origin: 50% -150%;
    transform-origin: 50% -150%;
    -webkit-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
}

.spinner li:nth-child(4) {
    top: 50%; 
    left: 0;
    margin: -.1em 0 0 0;
    background: rgba(153,204,102,1);
    z-index: 1000;
    -webkit-transform-origin: 250% 50%;
    -moz-transform-origin: 250% 50%;
    -ms-transform-origin: 250% 50%;
    -o-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
}

@-webkit-keyframes rota {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rota {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes rota {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes rota {
    to { -o-transform: rotate(360deg); }
}

@keyframes rota {
    to { transform: rotate(360deg); }
}

@-webkit-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-moz-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-ms-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-o-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}