@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

html, body {

  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

body {
  background-color: #CDE3DE;
}

header {
  background-color: #333;
  width: 100%;
  height: 65px;
}

#map-canvas {
  text-align: center;
}

#loader {
  display: inline-block;
  margin-top: 210px
}

.dot {
  width: 2em;
  height: 2em;
  position: relative;
  margin: 2em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -khtml-border-radius: 2em;
  z-index: 0;
}
#pulse1 {
  -moz-animation: pulse 2s ease-in-out 0 infinite normal;
  -webkit-animation: pulse 2s ease-in-out 0 infinite normal;
  -ms-animation: pulse 2s ease-in-out 0 infinite normal;
}
#pulse2 {
  -moz-animation: pulse 2s ease-in-out 0.4s infinite normal;
  -webkit-animation: pulse 2s ease-in-out 0.4s infinite normal;
  -ms-animation: pulse 2s ease-in-out 0.4s infinite normal;
}
#pulse3 {
  -moz-animation: pulse 2s ease-in-out 0.8s infinite normal;
  -webkit-animation: pulse 2s ease-in-out 0.8s infinite normal;
  -ms-animation: pulse 2s ease-in-out 0.8s infinite normal;
}
@-moz-keyframes pulse {
  from {
    width: 0em;
    height: 0em;
    margin: 0em;
    background: #007fff;
  }
  to {
    width: 2em;
    height: 2em;
    margin: -1em;
    background: rgba(0, 127, 255, 0);
  }
}
@-webkit-keyframes pulse {
  from {
    width: 0em;
    height: 0em;
    margin: 0em;
    background: #007fff;
  }
  to {
    width: 2em;
    height: 2em;
    margin: -1em;
    background: rgba(0, 127, 255, 0);
  }
}

#toggle {
  width: 28px;
  height: 30px;
  margin: 10px auto;
}

#toggle div {
  width: 100%;
  height: 5px;
  background: white;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
   -webkit-transform: rotate(45deg) translate(5px, 5px);

}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
}

#menu {
  color: gray;
  background-color: white;
  border: 1px solid white;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 3px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  line-height: 100px;
  text-align: center;
  margin: auto;
  display: none;
}

#menubar{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
}


#button_playnow {
    font-family: 'Raleway';

  font-size: 40px;
  color: grey;
  position: absolute;
  margin: 0px;
  left: 50%;
  bottom: 10px;
  width: 300px;
  height: 106px;
  border-radius: 10px;
  background-color: white;
  z-index: 1000;
  position: absolute;
  outline:none;


}

#button_playnow:active {
  font-family: 'Raleway';
  font-size: 40px;
  position: absolute;
  color: grey;
  margin: 0px;
  left: 50%;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  box-shadow: #transparent 0px -6px 0px 0px;
  background-color: white;
  z-index: 10000;
  outline:none;
}

#horizon        
    {
    color: white;
    background-color: transparent;
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
    visibility: visible;
    display: block;

    }